{% extends "base/base.html" %}
{% load static %}
{% block contenido %}
<link rel="stylesheet" type="text/css" href="{% static 'css/datatables_boostrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/datatable_responsive_boostrap.css' %}">
<div id="app">
<div class="page-header">
    <div class="container-fluid">
      <h2 class="h5 no-margin-bottom">{{ titulo }} {{device.name}}</h2>
    </div>
  </div>
  <section class="no-padding-top no-padding-bottom">
    <div class="container-fluid">
        <div class="row">
         
          <div class="col-md-4 col-sm-6">
            <div class="statistic-block block">
              <div class="progress-details d-flex align-items-end justify-content-between">
                <div class="title">
                  <div class="icon"><i class="fa fa-microchip"></i></div><strong>Ph</strong>
                </div>
                <div class="number dashtext-1">${ medicion.ph }</div>
              </div>
              <!-- <div class="progress progress-template">
                <div role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-1"></div>
              </div> -->
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="statistic-block block">
              <div class="progress-details d-flex align-items-end justify-content-between">
                <div class="title">
                  <div class="icon"><i class="fa fa-eyedropper"></i></div><strong>Conductividad</strong>
                </div>
                <div class="number dashtext-2">${ medicion.conductividad }</div>
              </div>
              <!-- <div class="progress progress-template">
                <div role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-2"></div>
              </div> -->
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="statistic-block block">
              <div class="progress-details d-flex align-items-end justify-content-between">
                <div class="title">
                  <div class="icon"><i class="fa fa-power-off"></i></div><strong>Turbidez</strong>
                </div>
                <div class="number dashtext-3">${ medicion.turbidez }</div>
              </div>
              <!-- <div class="progress progress-template">
                <div role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-3"></div>
              </div> -->
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="statistic-block block">
              <div class="progress-details d-flex align-items-end justify-content-between">
                <div class="title">
                  <div class="icon"><i class="fa fa-power-off"></i></div><strong>Temperatura °C</strong>
                </div>
                <div class="number dashtext-3">${ medicion.temperatura } °C</div>
              </div>
              <!-- <div class="progress progress-template">
                <div role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-3"></div>
              </div> -->
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="statistic-block block">
              <div class="progress-details d-flex align-items-end justify-content-between">
                <div class="title">
                  <div class="icon"><i class="fa fa-power-off"></i></div><strong>Sólidos Disueltos Totales (TDS)</strong>
                </div>
                <div class="number dashtext-3">${ medicion.tds }</div>
              </div>
              <!-- <div class="progress progress-template">
                <div role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-3"></div>
              </div> -->
            </div>
          </div>
          <!-- <div class="col-md-3 col-sm-6">
            <div class="statistic-block block">
              <div class="progress-details d-flex align-items-end justify-content-between">
                <div class="title">
                  <div class="icon"><i class="icon-writing-whiteboard"></i></div><strong>All Projects</strong>
                </div>
                <div class="number dashtext-4">41</div>
              </div>
              <div class="progress progress-template">
                <div role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-4"></div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
          <!-- end col--> 
  </section>

  <section class="no-padding-bottom">
    <div class="container-fluid">
      <div class="row">
        
        <div class="col-lg-6">
          <div class="drills-chart block">
            <canvas id="conductividadGrafica"></canvas>
          </div>
        </div>
        <div class="col-lg-6">
            <div class="drills-chart block">
              <canvas id="temperaturagrafica"></canvas>
            </div>
          </div>
        <div class="col-lg-6">
            <div class="drills-chart block">
              <canvas id="phGrafica"></canvas>
            </div>
          </div>
        <div class="col-lg-6">
            <div class="drills-chart block">
              <canvas id="graficaTds"></canvas>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="drills-chart block">
              <canvas id="graficaTurbidez"></canvas>
            </div>
        </div>
      </div>
    </div>
  </section>


  <section class="no-padding-top no-padding-bottom">
    <div class="block margin-bottom-sm">
        
        <div class="title" style="display: flex;justify-content: space-between;"><strong>Tabla De {{ titulo }} 1</strong>
         </div>
        <div class="table-responsive"> 
          <table id="datatable1" style="width: 100%;" class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Temperatura</th>
                <th>PH</th>
                <th>Turbidez</th>
                <th>Conductividad</th>
                <th>Sólidos Disueltos Totales (TDS)</th>
                <th>Fecha y Hora</th>
                
              </tr>
            </thead>
            <tbody id="bodyDatatable">
             
              <tr  v-for="m in mediciones_list">
                <td >${ m.id }</td>
                <td >${ m.temperatura } C°</td>
                <td >${ m.ph } %</td>
                <td> ${ m.turbidez } PPM</td>
                <td> ${ m.conductividad } PPM </td>
                <td> ${ m.tds } </td>
                <td> ${ m.time } </td>
             </tr>
            
            </tbody>
          </table>
        </div>

      </div>
  </section>
</div>
  
 
 
  <script  type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js" ></script>
  <script type="text/javascript" src= "{% static 'vendor/datatables/datatable_jquery.js' %}" defer > </script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="{% static 'peticiones/peticiones.js' %}" type="text/javascript"></script>
  <script type="text/javascript" src= "{% static 'vendor/datatables/datatable_boostrap.js' %}" defer > </script>
  <script type="text/javascript" src= "{% static 'vendor/datatables/datatable_responsive_boostrap.js' %}" defer > </script>
  <script type="text/javascript" src= "{% static 'vendor/datatables/datatable_responsive_min.js' %}" defer > </script>
  <script type="text/javascript" src= "{% static 'vendor/datatables/tables_datatables.js' %}" defer > </script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
<script type="text/javascript">
    new Vue({
      el: '#app',
      delimiters: ['${','}'],
      data: {
        token:"{{ csrf_token }}",
        usuario:"{{user.username}}",
        device:"{{ device.id }}",
        host_ws:'wss://app.waterqualityiot.co:8001/measurement/send/',
        medicion:{
            ph:0,
            temperatura:0,
            turbidez:0,
            tds:0,
            conductividad:0
        },
        mision: {
            id:0,
            nombre:"",
            comandante:"",
            fecha: "",
            estado:"",
            estadoBool:false
        },
        clientWs:null,
        mediciones_list: [],
        arraydataph: [],
        arraydatatemp: [],
        arraydataturbidez: [],
        arraydatatds: [],
        arraydataconductividad: [],
        arradataTime:[],
      },
      created: function () {
        this.loadData()
        this.crearConexionWs()
       
    },
      methods: {
        loadData(){
            obj = this
            axios.get('/api/measurements/data/'+ obj.device).then(function (response) {
                var data =  response.data
                // console.log(data.data)
                mediciones = data.data
                ultima = mediciones[0]
                // console.log(ultima)
                obj.medicion.temperatura = ultima.temperatura
                obj.medicion.ph = ultima.ph
                obj.medicion.tds = ultima.tds
                obj.medicion.turbidez = ultima.turbidez
                obj.medicion.conductividad = ultima.conductividad


                // obj.mision.id = data.data.id
                // obj.mision.nombre = data.data.nombre
                // obj.mision.comandante = data.data.comandante.get_full_name
                obj.mediciones_list = mediciones
                // console.log(mediciones.temperatura)
                // obj.arraydatatemp = data.temperatura
                // obj.arraydataHum = data.humedad
                // obj.arraydataGas = data.gas
                // obj.arraydataCon = data.concentracion
                console.log(mediciones)
                for(key in mediciones){
                  console.log(mediciones[key].ph)
                  obj.arraydatatemp.push(mediciones[key].temperatura);
                  obj.arraydataph.push(mediciones[key].ph);
                  obj.arraydataturbidez.push(mediciones[key].turbidez);
                  obj.arraydatatds.push(mediciones[key].tds);
                  obj.arraydataconductividad.push(mediciones[key].conductividad);
                  obj.arradataTime.push(mediciones[key].time);
                }
                obj.graficaTemp()
                obj.graficaconductividad()
                obj.graficaPh()
                obj.graficaTds()
                obj.graficaTurbidez()
                // obj.graficaGas(data.gas)
                // obj.graficaCon(data.concentracion)
                // console.log("liiasjdas ",obj.mediciones_list)
              
            }).catch(function (error) {
                console.log(error)
            })
        },
        crearConexionWs() {
          var obj=this
          try{
            
                this.clientWs = new WebSocket(this.host_ws+this.device);

                  this.clientWs.onopen = function(){
                      // console.log(this.clientWs.readyState)
                      console.log("abierto")
                  }

                  this.clientWs.onmessage = function(msg){
                   
                    data = JSON.parse(msg.data)
                    data = data.data
                    console.log(data.temperatura)
                    // var arraytds = []
                    // obj.arraydatatds
                    obj.arraydatatds.reverse().push(data.tds)
                    obj.arraydatatemp.reverse().push(data.temperatura)
                    obj.arraydataturbidez.reverse().push(data.turbidez)
                    obj.arradataTime.reverse().push(data.time)
                    obj.arraydataconductividad.reverse().push(data.conductividad)
                    obj.arraydataph.reverse().push(data.ph)
                    obj.medicion.temperatura = data.temperatura
                    obj.medicion.ph = data.ph
                    obj.medicion.tds = data.tds
                    obj.medicion.turbidez = data.turbidez
                    obj.medicion.conductividad = data.conductividad

                    obj.mediciones_list.unshift(data)

                    obj.graficaTds()
                    obj.graficaTemp()
                    obj.graficaTurbidez()
                    obj.graficaconductividad()
                    obj.graficaPh()
                    
                  }

                  this.clientWs.onclose = function(){
                    // consoel.log(this.clientWs.readyState)
                  }			

              } catch(exception){
                  console.log(exception)
            }
        },
        
        graficaTemp(){
          var BARCHARTEXMPLE  = $('#temperaturagrafica');
          var barChartExample = new Chart(BARCHARTEXMPLE, {
          type: 'line',
          options: {
              scales: {
                  xAxes: [{
                      display: false,
                      gridLines: {
                          color: '#eee'
                      }
                  }],
                  yAxes: [{
                      display: false,
                      gridLines: {
                          color: '#eee'
                      }
                  }]
              },
          },
          data: {
              labels: obj.arradataTime.reverse(),
              datasets: [
                  {
                      label: "Temperatura",
                      backgroundColor: [
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)"
                      ],
                      hoverBackgroundColor: [
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)"
                      ],
                      borderColor: [
                          "rgba(134, 77, 217, 1)",
                          "rgba(134, 77, 217, 1)",
                          "rgba(134, 77, 217, 1)",
                          "rgba(134, 77, 217, 1)",
                          "rgba(134, 77, 217, 1)",
                          "rgba(134, 77, 217, 1)",
                          "rgba(134, 77, 217, 1)"
                      ],
                      borderWidth: 1,
                      data: this.arraydatatemp.reverse(),
                  },
              ]
          }
      });
      },
      graficaconductividad(){
          var BARCHARTEXMPLE  = $('#conductividadGrafica');
          var barChartExample = new Chart(BARCHARTEXMPLE, {
          type: 'line',
          options: {
              scales: {
                  xAxes: [{
                      display: false,
                      gridLines: {
                          color: '#eee'
                      }
                  }],
                  yAxes: [{
                      display: false,
                      gridLines: {
                          color: '#eee'
                      }
                  }]
              },
          },
          data: {
              labels: obj.arradataTime.reverse(),
              datasets: [
                  {
                      label: "Conductividad",
                      backgroundColor: [
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)"
                      ],
                      hoverBackgroundColor: [
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)"
                      ],
                      borderColor: [
                          "rgba(134, 77, 217, 1)",
                          "rgba(134, 77, 217, 1)",
                          "rgba(134, 77, 217, 1)",
                          "rgba(134, 77, 217, 1)",
                          "rgba(134, 77, 217, 1)",
                          "rgba(134, 77, 217, 1)",
                          "rgba(134, 77, 217, 1)"
                      ],
                      borderWidth: 1,
                      data: this.arraydataconductividad.reverse(),
                  },
              ]
          }
      });
      },
      graficaPh(){
          var BARCHARTEXMPLE  = $('#phGrafica');
          var barChartExample = new Chart(BARCHARTEXMPLE, {
          type: 'line',
          options: {
              scales: {
                  xAxes: [{
                      display: false,
                      gridLines: {
                          color: '#eee'
                      }
                  }],
                  yAxes: [{
                      display: false,
                      gridLines: {
                          color: '#eee'
                      }
                  }]
              },
          },
          data: {
              labels: obj.arradataTime.reverse(),
              datasets: [
                  {
                      label: "Ph",
                      backgroundColor: [
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)"
                      ],
                      hoverBackgroundColor: [
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)"
                      ],
                      borderColor: [
                          "rgba(134, 77, 217, 1)",
                          "rgba(134, 77, 217, 1)",
                          "rgba(134, 77, 217, 1)",
                          "rgba(134, 77, 217, 1)",
                          "rgba(134, 77, 217, 1)",
                          "rgba(134, 77, 217, 1)",
                          "rgba(134, 77, 217, 1)"
                      ],
                      borderWidth: 1,
                      data: this.arraydataph.reverse(),
                  },
              ]
          }
      });
      },
      graficaTds(){
          var BARCHARTEXMPLE  = $('#graficaTds');
          var barChartExample = new Chart(BARCHARTEXMPLE, {
          type: 'line',
          options: {
              scales: {
                  xAxes: [{
                      display: false,
                      gridLines: {
                          color: '#eee'
                      }
                  }],
                  yAxes: [{
                      display: false,
                      gridLines: {
                          color: '#eee'
                      }
                  }]
              },
          },
          data: {
              labels: obj.arradataTime.reverse(),
              datasets: [
                  {
                      label: "Total Solidos Disueltos",
                      backgroundColor: [
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)"
                      ],
                      hoverBackgroundColor: [
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)"
                      ],
                      borderColor: [
                          "rgba(134, 77, 217, 1)",
                          "rgba(134, 77, 217, 1)",
                          "rgba(134, 77, 217, 1)",
                          "rgba(134, 77, 217, 1)",
                          "rgba(134, 77, 217, 1)",
                          "rgba(134, 77, 217, 1)",
                          "rgba(134, 77, 217, 1)"
                      ],
                      borderWidth: 1,
                      data: this.arraydatatds.reverse(),
                  },
              ]
          }
      });
      },
      graficaTurbidez(){
          var BARCHARTEXMPLE  = $('#graficaTurbidez');
          var barChartExample = new Chart(BARCHARTEXMPLE, {
          type: 'line',
          options: {
              scales: {
                  xAxes: [{
                      display: false,
                      gridLines: {
                          color: '#eee'
                      }
                  }],
                  yAxes: [{
                      display: false,
                      gridLines: {
                          color: '#eee'
                      }
                  }]
              },
          },
          data: {
              labels: obj.arradataTime.reverse(),
              datasets: [
                  {
                      label: "Turbidez",
                      backgroundColor: [
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)"
                      ],
                      hoverBackgroundColor: [
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)",
                          "rgba(134, 77, 217, 0.57)"
                      ],
                      borderColor: [
                          "rgba(134, 77, 217, 1)",
                          "rgba(134, 77, 217, 1)",
                          "rgba(134, 77, 217, 1)",
                          "rgba(134, 77, 217, 1)",
                          "rgba(134, 77, 217, 1)",
                          "rgba(134, 77, 217, 1)",
                          "rgba(134, 77, 217, 1)"
                      ],
                      borderWidth: 1,
                      data: this.arraydataturbidez.reverse(),
                  },
              ]
          }
      });
      },
        

      }
    })
                
      
</script>
  
  {% endblock %}