/.idea
local_settings.py
env/

__pycache__/


*.yaml
dockerfile

*.py[cod]
*.pyc

*.sql

/core/files/image_bank/
/core/files/product/
/core/files/profile/
#database file

*.sqlite3

/users/migrations
/measurements/migrations
/devices/migrations
/configurations/

static
/staticfiles

