{% extends "base/base.html" %}
{% load static %}
{% block contenido %}
<link rel="stylesheet" type="text/css" href="{% static 'css/datatables_boostrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/datatable_responsive_boostrap.css' %}">
  
<div class="page-header">
    <div class="container-fluid">
      <h2 class="h5 no-margin-bottom">{{ titulo }}</h2>
    </div>
  </div>
  <section class="no-padding-top no-padding-bottom">
    <div class="block margin-bottom-sm">
        
        <div class="title" style="display: flex;justify-content: space-between;"><strong>Tabla De {{ titulo }}</strong>
        <a href="{% url 'group-new'  %}" class="btn btn-success"><i class="fa fa-plus-circle"></i>  Nuevo</a> </div>
        <div class="table-responsive"> 
          <table id="datatable1" style="width: 100%;" class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Admin</td>
                <td>Activo</td>
                <td><input type="submit" value="Editar" class="btn btn-secondary">
                    <input type="submit" value="Eliminar" class="btn btn-danger">
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Staff</td>
                <td>Activo</td>
                <td><input type="submit" value="Editar" class="btn btn-secondary">
                    <input type="submit" value="Eliminar" class="btn btn-danger">
              </tr>

            </tbody>
          </table>
        </div>

      </div>
  </section>
  
 
 
  <script  type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js" ></script>
  <script type="text/javascript" src= "{% static 'vendor/datatables/datatable_jquery.js' %}" defer > </script>

  <script type="text/javascript" src= "{% static 'vendor/datatables/datatable_boostrap.js' %}" defer > </script>
  <script type="text/javascript" src= "{% static 'vendor/datatables/datatable_responsive_boostrap.js' %}" defer > </script>
  <script type="text/javascript" src= "{% static 'vendor/datatables/datatable_responsive_min.js' %}" defer > </script>
  <script type="text/javascript" src= "{% static 'vendor/datatables/tables_datatables.js' %}" defer > </script>
<script type="text/javascript">
        $(document).ready(function(){
            $('#datatable1').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
        }
    });
        });
</script>
  
  {% endblock %}