{% extends "base/base.html" %}
{% load static %}
{% block contenido %}
<link rel="stylesheet" type="text/css" href="{% static 'css/datatables_boostrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/datatable_responsive_boostrap.css' %}">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.4.0/dist/sweetalert2.all.min.js" crossorigin="anonymous"></script>

  
<div class="page-header">
    <div class="container-fluid">
      <h2 class="h5 no-margin-bottom">{{ titulo }}</h2>
    </div>
  </div>
  <section class="no-padding-top no-padding-bottom">
    <div class="col-lg-12">
      <div class="block">
        <div class="title"><strong>Nuevo Grupo</strong></div>
        <div class="block-body">
          <form class="form-horizontal">
            <div class="form-group row">
              <label class="col-sm-3 form-control-label">Nombre</label>
              <div class="col-sm-9">
                <input id="nombre" type="text" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 form-control-label">Permisos</label>
              <div class="col-sm-9">
                
              <select name="permissions[]" class="permissions form-control" id="permissions" multiple="multiple" data-placeholder="Select a category..." >
               </select>
              </div>
          </div>            
            <div class="line"></div>
    
            
            <div class="line"></div>
            <div class="form-group row">
              <div class="col-sm-9 ml-auto">
                <a href="{% url 'group_list' %}" class="btn btn-secondary">Volver</a>
                <a onclick="CreateOrUpdate()"class="btn btn-success">Guardar</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  
 
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="{% static 'peticiones/peticiones.js' %}" type="text/javascript"></script>
  <!-- <script  type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js" ></script> -->
  <!-- <script src="//code.jquery.com/jquery-1.12.4.js"></script> -->
  <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>

  <script type="text/javascript" src= "{% static 'vendor/datatables/datatable_jquery.js' %}" defer > </script>

  <script type="text/javascript" src= "{% static 'vendor/datatables/datatable_boostrap.js' %}" defer > </script>
  <script type="text/javascript" src= "{% static 'vendor/datatables/datatable_responsive_boostrap.js' %}" defer > </script>
  <script type="text/javascript" src= "{% static 'vendor/datatables/datatable_responsive_min.js' %}" defer > </script>
  <script type="text/javascript" src= "{% static 'vendor/datatables/tables_datatables.js' %}" defer > </script>
<script type="text/javascript">
    var select= $('.permissions');
    var token =  "{{ csrf_token }}" 
    get('/permisos-lista').then(result => {
              var jsonData = result.data;
              select.val([]);
                select.trigger('change');
                $.each(jsonData, function (id, obj) {
                    var newOption = new Option(obj.name, id, false, false);
                    select.append(newOption).trigger('change');
                    jQuery.noConflict();
                });
        });
        var id = null;
        function CreateOrUpdate(){
          if(id == null){
          this.data = {
              'name': document.getElementById('nombre').value,
              'permissions': $("#permissions").val(),
          }
          console.log("1",this.data)
          post('/roles-lista',this.data, "{{ csrf_token }}").then(result=>{
            location.href="{% url 'group_list' %}"
              }).catch(function (error) {
              console.log(error)
          })
            
        }
      }        
</script>
  
  {% endblock %}