{% extends "base/base.html" %}
{% block contenido %}
<div class="page-header">
    <div class="container-fluid">
      <h2 class="h5 no-margin-bottom">{{ titulo }}</h2>
    </div>
  </div>
  <section class="no-padding-top no-padding-bottom">
    <div class="container-fluid">
      <div class="row">
       
        <div class="col-md-4 col-sm-6">
          <div class="statistic-block block">
            <div class="progress-details d-flex align-items-end justify-content-between">
              <div class="title">
                <div class="icon"><i class="fa fa-microchip"></i></div><strong>Dispositivos</strong>
              </div>
              <div class="number dashtext-1"> {{devices_num}}  </div>
            </div>
            <!-- <div class="progress progress-template">
              <div role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-1"></div>
            </div> -->
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="statistic-block block">
            <div class="progress-details d-flex align-items-end justify-content-between">
              <div class="title">
                <div class="icon"><i class="fa fa-eyedropper"></i></div><strong>Muestras Hoy</strong>
              </div>
              <div class="number dashtext-2"> {{measurement_today}} </div>
            </div>
            <!-- <div class="progress progress-template">
              <div role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-2"></div>
            </div> -->
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="statistic-block block">
            <div class="progress-details d-flex align-items-end justify-content-between">
              <div class="title">
                <div class="icon"><i class="fa fa-power-off"></i></div><strong>Dispositivos En Uso</strong>
              </div>
              <div class="number dashtext-3">{{devices_active_num}}</div>
            </div>
            <!-- <div class="progress progress-template">
              <div role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-3"></div>
            </div> -->
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="statistic-block block">
            <div class="progress-details d-flex align-items-end justify-content-between">
              <div class="title">
                <div class="icon"><i class="fa fa-eyedropper"></i></div><strong>Total Muestras Tomadas</strong>
              </div>
              <div class="number dashtext-3">{{measurement_total}}</div>
            </div>
            <!-- <div class="progress progress-template">
              <div role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-3"></div>
            </div> -->
          </div>
        </div>
        <!-- <div class="col-md-3 col-sm-6">
          <div class="statistic-block block">
            <div class="progress-details d-flex align-items-end justify-content-between">
              <div class="title">
                <div class="icon"><i class="icon-writing-whiteboard"></i></div><strong>All Projects</strong>
              </div>
              <div class="number dashtext-4">41</div>
            </div>
            <div class="progress progress-template">
              <div role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-4"></div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </section>
  <!-- <section class="no-padding-bottom">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4">
          <div class="bar-chart block no-margin-bottom">
            <canvas id="barChartExample1"></canvas>
          </div>
          <div class="bar-chart block">
            <canvas id="barChartExample2"></canvas>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="line-cahrt block">
            <canvas id="lineCahrt"></canvas>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="no-padding-bottom">
    <div class="container-fluid">
      <div class="row">
           
        <div class="col-lg-12">
          <div class="drills-chart block">
            <canvas id="lineChart1"></canvas>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  
  {% endblock %}